.heroText{
    font-size: 1.5rem !important;
    color:white;
    margin-top:20%;
    padding-top: 20px;
    padding-bottom:20px;
    text-align:center
}
.proText{

        font-size: 1.25rem !important;
        color:white;
        padding-top: 20px;
}
.drop{
  margin-top: 10px;
  width:50%;
  display: block; margin-left: auto;
  margin-right:auto;

}
.listText{

    font-size: 1rem !important;
    color:white;
    padding-top: 20px;
}
.mintButton{
    font-size: 1.75rem !important;
    background-color: #43C80B!important;
    border-color: #43C80B !important;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight:bold;
    display: block; margin: auto;

    -webkit-box-shadow: 0px 0px 17px 6px rgba(255,255,255,0.31); 
    box-shadow: 0px 0px 17px 6px rgba(255,255,255,0.31);
}

.progress{
  background-color: black !important;

}
.progress-bar{
    background-color: white !important;
}
.heroButtonDiv{
    padding-top: 3rem;
}

.heroContainer{
    padding-bottom: 5rem;
    padding-top: 5rem;
}


@media only screen and (max-width: 1270px) {
    .heroPic{
        margin-left:15%;
        margin-right:30%;
    }
  }
@media only screen and (max-width: 1201px) {
  .heroPic{
    width:400px;
    height:400px;
}
  }
@media only screen and (max-width: 1155px) {
    .heroPic{
        margin-right:25%;
        margin-left:10%;
    }
  }
@media only screen and (max-width: 1103px) {
    .heroPic{
        margin-right:16%;
        margin-left:5%;

        width: 450px;
        height: 450px;
    }
  }
  @media only screen and (max-width: 990px) {
    .heroPic{
        margin:auto;

        width: 450px;
        height: 450px;
    }
  }
  @media only screen and (max-width: 760px) {
    .heroPic{
        margin-left:8%;
        margin-right:15%;
    }
  }
  @media only screen and (max-width: 615px) {
    .heroPic{
      margin-left:7%;
      margin-right:14%;
    }
  }
  @media only screen and (max-width: 573px) {
    .heroPic{
        margin-left:2%;
        margin-right:7%;
    }
  }
  @media only screen and (max-width: 503px) {
    .heroPic{
        margin-left:2%;
        margin-right:2%;
    }
  }
  @media only screen and (max-width: 479px) {
    .heroPic{
        margin-left:1%;
        margin-right:2%;
    }
    .heroButton{
        font-size: 0.71rem!important;
    }
  }
  @media only screen and (max-width: 470px) {
    .heroPic{
       width: 360px;
       height: 360px;
       margin-left:5%;
      margin-right:5%;
    }
  }
  @media only screen and (max-width: 455px) {
    .heroButton{
        font-size: 0.65rem!important;
    }
  }
  @media only screen and (max-width: 443px) {
    .heroButton{
        font-size: 0.6rem!important;
    }
  }
  @media only screen and (max-width: 415px) {
    .heroPic{
       width: 360px;
       height: 360px;
       margin-left:3%;
        margin-right:3%;
    }
    .paw{
      margin-right:0.5rem !important;
    }
    .heroButton{
      margin-right: 0.6rem!important;
    }
  }
  @media only screen and (max-width: 393px) {
    .heroPic{
       width: 325px;
       height: 325px;
       margin-left:2%;
        margin-right:2%;
    }
    .heroButton{
      margin-right: 0.4rem!important;
    }
  }
  @media only screen and (max-width: 379px) {
    .heroPic{
      width: 325px;
      height: 325px;
       margin-left:1%;
       margin-right:2%;
    }
    .heroButton{
      margin-right: 0.2rem!important;
    }
  }
  @media only screen and (max-width: 375px) {
    .heroPic{
      width: 325px;
      height: 325px;
       margin-left:1%;
       margin-right:2%;
    }
    .heroButton{
      margin-right: 0.1rem!important;
    }
  }
  @media only screen and (max-width: 370px) {
    .heroPic{
      width: 300px;
      height: 300px;
       margin-left:1%;
       margin-right:2%;
    }
    
  }
  